body {
    margin: 0;
    padding: 0;
    height: 100px;
    
    background: violet;
    display: flex;
    align-items: center;
}

#gamePlace {
    display: flex;
    width: 100vw;
    height: 100vh;
    border: 0;
    background-image: url("./images/tepe.jpeg" );
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

#player {
    position: absolute;
    width: 10vw;
    height: 10vh;
    bottom: 0;
    background-image: url("./images/teletubbies2.png");
    background-size: cover;
}

.obstacle {
    position:absolute;
   /*background-color: red; */
}

.point {
    position:absolute;
    /*background-color: green; Point color */
}

#result {
    position: absolute;
    display: grid;
    place-items: center; 
    background-color: rgba(212, 255, 0, 0.5); /* Result color */
    
    text-align: center; 
    color: white;

}

#startButton {
    position:absolute;
    background-color: #5baf4c; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    
}